.header {
    min-height: 105px;
    display: flex;
    margin: 92px 24px 91px 24px;
    padding: 2px 24px 0 26px;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.list__menu {
    list-style: circle;
    display: flex;
    flex-wrap: nowrap;
    gap: 34px;
    justify-content: center;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.firt__elem {
    list-style: none;
}

.active__link {
    text-decoration: none;
}

.logo__black {
    width: 139px;
}

.address {
    font-style: normal;
    display: flex;
    align-items: center;
    width: 241px;
    padding-left: 1px;
    padding-top: 2px;
}

.list__contacts {
    width: 214px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.main {
    flex-grow: 1;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    min-height: 757px;
    padding: 162px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover__title {
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 126px;
    letter-spacing: 28px;
    font-weight: 700;
    font-family: Raleway, sans-serif;
}

.cover__title_part {
    display: block;
}

.cover__title_part-center {
    text-align: center;
    letter-spacing: 31px;
}

.cover__title_part-end {
    text-align: right;
    letter-spacing: 20px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: #00000094;
    z-index: 0;
}

.layout-content__on__overlay {
    position: relative;
    z-index: 1;
}

.cover__bet {
    display: flex;
    justify-content: space-between;
    min-height: 51px;
    align-items: center;
    padding-left: 28px;
}

.cover__subtitle {
    color: white;
    font-size: 22px;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 18.5px;
    line-height: 28px;
}

.cover__button-do {
    background: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    border: 1px solid white;
    padding: 12px 32px;
    text-transform: uppercase;
    line-height: 25px;
    transition-duration: 400ms;
}

.cover__button-do:hover {
    background-color: #ffffff;
    color: #000000;
}

.lots {
    margin: 180px 24px 0;
}

.lots__title {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-indent: 40px;
    text-transform: uppercase;
    line-height: 46px;
}

.cards {
    margin-top: 27px;
    margin-bottom: 32px;
}

.list__cards {
    margin-top: 27px;
    margin-bottom: 32px;
    list-style: none;
    display: flex;
    gap: 25px;
}

.card__link__title {
    color: white;
    text-decoration: none;
}

.card {
    width: 334px;
    min-height: 563px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 51px 40px 48px 40px;
}

.card__title {
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-decoration: underline;
}

.card__content {
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.card__image {
    position: absolute;
    inset: 0;
    height: 100%;
    object-fit: cover;
}

.link__more__cards {
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
    line-height: 23px;
}

.about {
    margin: 148px 24px 0 24px;
    padding: 37px 0 0 47px;
    display: flex;
    flex-direction: column;
    min-height: 595px;
}

.about__header {
    display: flex;
    align-items: center;
    gap: 72px;
}

.background__logo {
    width: 240px;
    min-height: 240px;
    background-color: black;
    padding: 46px;
    border-radius: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.about__title {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 700;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    word-spacing: 0.8px;
    margin-top: 4px;
}

.about__content-unit {
    width: 692px;
    font-size: 20px;
    font-family: Raleway, sans-serif;
    line-height: 24px;
    font-weight: 400;
}

.footer {
    display: flex;
    margin: 180px 50px 88px;
    justify-content: space-between;
}

.menu__footer {
    display: flex;
    align-items: normal;
    gap: 41px;
}

.list__menu__footer {
    display: block;
    list-style: none;
    line-height: 21px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.list__social__network{
    list-style: none;
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.social__network__image {
    width: 48px;
}


